<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>是否将用户名和密码保存到相册？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否将用户名和密码保存到相册？</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MARSDK</key>
	<dict>
		<key>AppId</key>
		<integer>6908</integer>
		<key>AppKey</key>
		<string>2dd217018ed44ee4b4264742102552d1</string>
		<key>Channel</key>
		<string>69082032</string>
		<key>ChannelName</key>
		<string>advert</string>
		<key>MARUrl</key>
		<string>https://cloud.martianyun.com/api/martian-marsdk-server</string>
		<key>Plugins</key>
		<array>
			<dict>
				<key>UNI_REALNAME_TYPE</key>
				<string>china</string>
				<key>URN_TRIGGER_DELAY_SECS</key>
				<string>0</string>
				<key>name</key>
				<string>ADVERT</string>
			</dict>
			<dict>
				<key>DEBUG_MODEL</key>
				<string></string>
				<key>SPLASH_GUARANTEE_ADSOURCE_ID</key>
				<string></string>
				<key>SPLASH_GUARANTEE_AD_CHANNEL</key>
				<string></string>
				<key>SPLASH_GUARANTEE_APP_ID</key>
				<string></string>
				<key>SPLASH_GUARANTEE_APP_KEY</key>
				<string></string>
				<key>SPLASH_GUARANTEE_PLACEMENT_ID</key>
				<string></string>
				<key>TOPON_APP_ID</key>
				<string>a61ce7b5db4bdc</string>
				<key>TOPON_APP_KEY</key>
				<string>d8293a9d14eb09ee8f24ea0404631433</string>
				<key>TOPON_BANNER_Highly</key>
				<string>90</string>
				<key>TOPON_BANNER_ID</key>
				<string>b61ce7cb64b1e5</string>
				<key>TOPON_BANNER_Width</key>
				<string>0</string>
				<key>TOPON_CUSTOMDATA</key>
				<string></string>
				<key>TOPON_INTERSTITIAL_ID</key>
				<string>b61ce7be6bef33</string>
				<key>TOPON_INTERSTITIAL_VIDEO_ID</key>
				<string>b61ce7be6bef33</string>
				<key>TOPON_REWARDED_ID</key>
				<string>b61ce7be6546a4</string>
				<key>TOPON_SPLASH_ID</key>
				<string></string>
				<key>name</key>
				<string>IOSTOPONAD</string>
			</dict>
			<dict>
				<key>UM_APP_ID</key>
				<string>61ce8564e0f9bb492bb48d98</string>
				<key>UM_CHANNEL</key>
				<string>AppStore</string>
				<key>name</key>
				<string>UMENG</string>
			</dict>
		</array>
		<key>autoProtocol</key>
		<string>true</string>
		<key>cashType</key>
		<string>1</string>
		<key>protocolUrl</key>
		<string>https://marsdkserver-1300810349.file.myqcloud.com/game-ysxy/martianyszc.html</string>
		<key>singleGame</key>
		<string>true</string>
		<key>userAgreementUrl</key>
		<string>https://marsdkserver-1300810349.file.myqcloud.com/game-ysxy/martianagreement.html</string>
	</dict>
</dict>
</plist>
